doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/socket.io.js")
    script(src="/javascripts/vue.js")
    script(src="/javascripts/axios.js")
    script(src="/javascripts/index.js")
  body
    block content
